html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7 !important;
}

.nav-link:hover {
  transition: 0.3s ease-in-out;
  text-decoration: underline;
}

img,
.card,
.btn {
  animation: on-load 1s ease;
}

@keyframes on-load {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 576px) {
  .navbar > .container {
    justify-content: center !important;
  }
}
